MyUtilityTest/Debug/
MyUtilityTest/MyUtilityTest.sdf
MyUtilityTest/MyUtilityTest.v12.suo
MyUtilityTest/lang/


MyUtilityTest/MyUtilityTest2008.ncb
MyUtilityTest/MyUtilityTest2008.suo
MyUtilityTest/MyUtilityTest2008.vcproj.*.user
MyUtilityTest/Release/

